:root{
  --color-01: #006EB4;
  --color-02: #F0C932;
  --color-03: #92DEBA; 

  --font-01: sans-serif;

  --font-default: 16px;
  --text-sm: 20px;
  --text-md: 25px;
  --text-lg: 40px;
}
 
* {
  box-sizing: border-box;
  font-family: var(--font-01);
  font-weight: bold;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: var(--color-01);
  transition: color 1s ease,background-color 1s ease;
}

/*Modo oscuro - No cambiar*/
.change-mode{
  position: absolute;
  top: 0.8rem;
  right: 0.8rem;
  width: 4rem;
  height: 2rem;
  display: block;
  background-color: #d9d9d9;
  border-radius: 100px;
  cursor: pointer;
  box-shadow: inset 0px 5px 15px rgba(0,0,0,0.3), inset 0px -5px 15px rgba(255,255,255,0.3);
}
.change-mode:after{
  content: '';
  position: absolute;
  height: 1.5rem;
  width: 1.5rem;
  background-color: #f2f2f2;
  border-radius: 100px;
  top: 4px;
  left: 4px;
  transition: 0.6s;
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}
#dark-mode:checked ~ .change-mode:after{
  left: 28px;
  transform: translateX(34%);
  background-color: linear-gradient(180deg,#777,#3a3a3a);
}

#dark-mode:checked ~ .change-mode{
  background-color: #242424;
}


#dark-mode{
  display: none;
}

.dark{
    background-color: #1f1f1f;
    color: #fff;
  font-size: var(--font-default);
}

h1{
  font-size: var(--text-lg);
}

h2{
  font-size: var(--text-md);
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
}


.shake-left-right{animation:shake-left-right 0.8s linear both} @keyframes shake-left-right{0%,100%{transform:rotate(0deg);transform-origin:50% 50%}10%{transform:rotate(8deg)}20%,40%,60%{transform:rotate(-10deg)}30%,50%,70%{transform:rotate(10deg)}80%{transform:rotate(-8deg)}90%{transform:rotate(8deg)}}


.blur-out-contract{animation:blur-out-contract 0.8s linear both} @keyframes blur-out-contract{0%{transform:scale(1);filter:blur(.01px);} 100%{transform:scale(0);filter:blur(12px);opacity:0}}


.blur-in-expand{animation:blur-in-expand 0.8s linear both} @keyframes blur-in-expand{0%{transform:scale(0);filter:blur(12px);opacity:0}100%{transform:scale(1);filter:blur(0);opacity:1}}


.tracking-out-expand-forward-bottom{animation:tracking-out-expand-forward-bottom 1.2s linear both} @keyframes tracking-out-expand-forward-bottom{0%{transform:translateZ(0) translateY(0);opacity:1}60%{opacity:.8}100%{letter-spacing:1em;transform:translateZ(-700px) translateY(100px);opacity:0}}


.tracking-in-expand-forward-bottom{animation:tracking-in-expand-forward-bottom 1.5s linear both} @keyframes tracking-in-expand-forward-bottom{0%{letter-spacing:-.2em;transform:translateZ(-700px) translateY(100px);opacity:0}40%{opacity:.6}100%{transform:translateZ(0) translateY(0);opacity:1}}


.rotate-scale-down{animation:rotate-scale-down 1.2s linear both} @keyframes rotate-scale-down{0%{transform:scale(1) rotateZ(0)}50%{transform:scale(.5) rotateZ(180deg)}100%{transform:scale(1) rotateZ(360deg)}}


/*---------*/

.start-screen{
  text-align: center;
  background-color: var(--color-02);
  border-radius: 5%;
}

.start-button{
  padding: 8px 15px;
  margin-bottom: 20px;
  border-radius: 2%;
  background-color: var(--color-03);
}

.game-rules {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  text-align: justify;
  list-style: none;
  padding: 40px;
  font-size: var(--font-default);
}

.list-title{
  font-size: var(--text-sm);
}

.game-rules li {
  margin-top: 10px;
}

.score-marker {
  display: flex;
  justify-content: center;
  margin: auto;
  align-items: center;

}

.score-marker :first-child, .score-marker :last-child {
  margin: 3px;
}

.score-marker {
  display: flex;
  justify-content: center;
  margin: auto;
  align-items: center;

}

.score-marker :first-child, .score-marker :last-child {
  margin: 3px;
}

.game-screen {
  display: none;
}

.final-screen {
  display: none;
  background-color: var(--color-02);
  border-radius: 10%;
  text-align: center;
  background-color: var(--color-02);
  border-radius: 5%;
}

.end-button{
  background-color: var(--color-03);
}

.gameApp {
  display: grid;
  justify-content: center;
  align-items: center;
  padding: 5px;
  grid-gap: 6px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  justify-items: stretch;
}

.resetBtn{
  padding: 6px 10px;
  display: block;
  margin: 10px auto;
  position: relative;
  text-align: center;
  background-color: var(--color-03);
}

.card {
  position: relative;
  width: 125px;
  height: 140px;
  perspective: 600px;
  margin: 0.5rem;
}

.content {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
}

.front,
.back {
  position: absolute;
  height: 100%;
  width: 100%;
  background: linear-gradient(black, gray);
  display: grid;
  place-content: center;
  font-size: 6rem;
  border-radius: 1rem;
  backface-visibility: hidden;
  user-select: none;
}

.back {
  background: linear-gradient(steelblue, lightsteelblue);
  transform: rotateY( 180deg );
}

.card.flipped .content {
  transform: rotateY( 180deg ) ;
  transition: transform 0.5s;
}