@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap%27');

:root{
  --color-btn: #f0f0f0; 
  --color-Hover:#c4f8ff;
  --color-dark:#343A40;
  --color-background-general:#dbe9e6 ; 
  --color-background-cards-screens:linear-gradient(0deg, #a4c3b2 15%, #F7F7EE);

  --font-01: Roboto, sans-serif;

  --font-default: 18px;
  --text-xxs: 14px;
  --text-xs: 16px;
  --text-sm: 20px;
  --text-md: 25px;
  --text-lg: 40px;

  --box-shadow-screen:0px 0px 6px 4px rgb(0 0 0 / 50%);
}
 
* {
  box-sizing: border-box;
  font-family: var(--font-01);
  font-weight: bold;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  transition: color 0.5s ease,background-color 0.30s ease;
  background-color: var(--color-background-general);  
}

h1{
  font-size: var(--text-lg);
}

h2{
  font-size: var(--text-md);
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
}

/*-------------------------*\
          DARK MODE
\*-------------------------*/

.change-mode{
  position: absolute;
  top: 0.8rem;
  right: 0.8rem;
  width: 4rem;
  height: 2rem;
  display: block;
  background-color: #d9d9d9;
  border-radius: 100px;
  cursor: pointer;
  box-shadow: inset 0px 5px 15px rgba(0,0,0,0.3), inset 0px -5px 15px rgba(255,255,255,0.3);
}
.change-mode:after{
  content: '';
  position: absolute;
  height: 1.5rem;
  width: 1.5rem;
  background-color: #f2f2f2;
  border-radius: 100px;
  top: 4px;
  left: 4px;
  transition: 0.6s;
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}
#dark-mode:checked ~ .change-mode:after{
  left: 28px;
  transform: translateX(34%);
}

#dark-mode:checked ~ .change-mode{
  background-color: #242424;
}

#dark-mode{
  display: none;
}

.dark{
  background-color: var(--color-dark);
  color: #fff;
}

/*-------------------------*\
          SCREENS
\*-------------------------*/

.box-screen {
  min-width: 40%;
  height: 27.5rem;
  box-sizing: border-box;
  padding: 30px 25px 25px 25px;
}

.start-screen{
  text-align: center;
  background: var(--color-background-cards-screens);
  border-radius: 5%;
  box-shadow: var(--box-shadow-screen)
}

.start-screen .game-rules {
  display: flex;
  justify-content: flex-start;
  align-items: start;
  flex-direction: column;
  text-align: justify;
  list-style: none;
  padding: 25px 40px;
  font-size: var(--font-default);
}

.game-rules .list-title{
  font-size: var(--text-sm);
}

.game-rules li {
  margin-top: 10px;
}
 
.game-rules li:not(:first-child)::before{
  content: attr(data-content); /*-----PARA CRISTOPHER------*/
}


.final-screen {
  display: none;
  text-align: center;
  border-radius: 5%;
  box-shadow:  var(--box-shadow-screen);
  align-items: center;
  justify-content: center;
  line-height: 1.30rem;
  background: var(--color-background-cards-screens);
  min-width: 30%;
}

/*-------------------------*\
    GAME screen and CARDS
\*-------------------------*/

.game-screen {
  display: none;
}

.game-screen .score-marker {
  display: flex;
  justify-content: space-evenly;
  margin: auto;
  align-items: center;

}
.score-marker div{
  display: flex;
}


.score-marker :first-child, .score-marker :last-child {
  margin: 3px;
}

.score-marker p:nth-child(2){
  margin-right: 20px;

}

.score-marker :first-child, .score-marker :last-child {
  margin: 3px;
}

.gameApp {
  display: grid;
  justify-content: center;
  align-items: center;
  padding: 5px;
  grid-gap: 6px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  justify-items: stretch;
}



.card {
  position: relative;
  width: 125px;
  height: 140px;
  perspective: 600px;
  margin: 0.5rem;
}

.content {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
}

.front,
.back {
  position: absolute;
  height: 100%;
  width: 100%;
  background: linear-gradient(black, gray);
  display: grid;
  place-content: center;
  font-size: 5rem;
  border-radius: 1rem;
  backface-visibility: hidden;
  user-select: none;
   box-shadow: -6px 5px 5px rgb(0,0,0, 0.5);
}

.back {
  background: var(--color-background-cards-screens);
  transform: rotateY( 180deg );
}

.card.flipped .content {
  transform: rotateY( 180deg ) ;
  transition: transform 0.5s;
}


/*---------------------*\
         BUTTONS
\*---------------------*/



.start-button{
  background-color: var(--color-btn);
}

.play-again{
  padding: 6px 10px;
  display: block;
  margin: 10px auto;
  position: relative;
  text-align: center;
  background-color: var(--color-btn);
}

.end-button{
  margin-bottom: 10px;
}

.reset-best-game{
  margin-left: 10px;
}

.button-common{
  background-color: var(--color-btn);
  box-shadow: -2px 2px 3px 1px rgba(0,0,0,0.2) ;
  border:solid 0.5px ; 
  border-radius: 5px;
  padding: 8px 15px;
  margin-bottom: 10px;
}

.button-common:hover{
  cursor: pointer;
  background-color: var(--color-Hover);
}


/*-------------------------*\
       Media queries
\*-------------------------*/


@media  (max-width: 768px) {

  h1 {
    font-size: var(--text-md);
  }

  h2 {
    font-size: var(--text-sm);
    margin-top: 15px;
  }

  .box-screen {
    width: 75%;
    height: 25.5rem;
    padding: 15px;
  }

  .start-screen .game-rules {
    padding: 25px 10px;
    font-size: var(--text-xs);
    text-align: left;
  }

  .card {
  width: 80px;
  height: 100px;
  }

  .front,
.back {
  font-size: 3.5rem;
}

.final-screen{
  padding: 20px 10px;
  font-size: var(--text-xs);
}
}


@media (max-width: 425px) {

h1 {
    font-size: var(--text-sm);
  }

h2 {
    font-size: var(--text-xs);
    margin-top: 10px;
  }


.box-screen {
    width: 75%;
    height: 25.5rem;
    padding: 15px;
  }

.start-screen .game-rules {
    padding: 16px 5px;
    font-size: var(--text-xxs);
    text-align: left;
  }

.game-rules .list-title {
  margin-top: 8px;
  font-size: var(--font-default);
}


.front,
.back {
  font-size: 2.5rem;
}

.change-mode{
  width: 2.5rem;
  height: 1.5rem;
}

.change-mode:after{
  width: 1rem;
  height: 1rem;
  
}
#dark-mode:checked ~ .change-mode:after{
  left: 14px;
}

}

@media (max-width:415px) {
  .start-screen .game-rules {
    padding: 16px 6px;
    font-size: 12px;
    text-align: left;
  }
  .gameApp{
    grid-gap: 0px;
  }

  .card {
    width: 55px;
    height: 80px;
  }
 
  .reset-best-game{
    margin-left: 0px;
  }
}

@media (max-width:325px) {
 .start-screen .game-rules {
    padding: 6px 6px;
    text-align: left;
  }
}


/*-------------------------*\
        Animaciones
\*-------------------------*/

.shake-left-right{animation:shake-left-right 0.8s linear both} @keyframes shake-left-right{0%,100%{transform:rotate(0deg);transform-origin:50% 50%}10%{transform:rotate(8deg)}20%,40%,60%{transform:rotate(-10deg)}30%,50%,70%{transform:rotate(10deg)}80%{transform:rotate(-8deg)}90%{transform:rotate(8deg)}}


.blur-out-contract{animation:blur-out-contract 0.8s linear both} @keyframes blur-out-contract{0%{transform:scale(1);filter:blur(.01px);} 100%{transform:scale(0);filter:blur(12px);opacity:0}}


.blur-in-expand{animation:blur-in-expand 0.8s linear both} @keyframes blur-in-expand{0%{transform:scale(0);filter:blur(12px);opacity:0}100%{transform:scale(1);filter:blur(0);opacity:1}}


.tracking-out-expand-forward-bottom{animation:tracking-out-expand-forward-bottom 1.2s linear both} @keyframes tracking-out-expand-forward-bottom{0%{transform:translateZ(0) translateY(0);opacity:1}60%{opacity:.8}100%{letter-spacing:1em;transform:translateZ(-700px) translateY(100px);opacity:0}}


.tracking-in-expand-forward-bottom{animation:tracking-in-expand-forward-bottom 1.5s linear both} @keyframes tracking-in-expand-forward-bottom{0%{letter-spacing:-.2em;transform:translateZ(-700px) translateY(100px);opacity:0}40%{opacity:.6}100%{transform:translateZ(0) translateY(0);opacity:1}}


.rotate-scale-down{animation:rotate-scale-down 1.2s linear both} @keyframes rotate-scale-down{0%{transform:scale(1) rotateZ(0)}50%{transform:scale(.5) rotateZ(180deg)}100%{transform:scale(1) rotateZ(360deg)}}

